@model Styler.Areas.Admin.Models.BaseViewModel
@{
    ViewBag.Title = "ProductList";
}
<div class="panel-heading">
    Products
</div>
<div class="panel-body">
    @using (Html.BeginForm("ListProducts", "Product", FormMethod.Post, new { id = "searchForm", @class = "form-inline" }))
    {
        <div class="input-group pull-left">
            <a class="form-control btn-success col-md-2" href="/Admin/Product/Edit">ახლის დამატება</a>
        </div>
        <div class="input-group pull-right">
            <input class="form-control col-md-3" name="KeyWord" type="text" placeholder="ძიება..." />
            <span class="input-group-btn">
                <input class="form-control btn-default col-md-2" type="submit" value="ძიება" />
            </span>
        </div>
    }
    @if (Model != null)
    {
        if (Model.IsError)
        {
            <div class="alert alert-danger">
                @Model.Message
            </div>
        }
    }
    <div id="listProducts">
        @Html.Action("ListProducts")
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#searchForm').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (data) {
                        $('#listProducts').html(data);
                    }
                })
            })
            $('.deleteProduct').on('click', function (e) {
                e.preventDefault();
                var delProduct = $(this);
                var id = delProduct.attr('data-id');
                bootbox.confirm("დარწმუნებული ხართ რომ გსურთ წაშალოთ მონაცემი?", function (result) {
                    if (result) {

                        $.ajax({
                            url: "/Admin/Product/Delete/" + id,
                            type: "Post",
                            success: function (data) {
                                toastr.success(data.message);
                                delProduct.closest('tr').remove();
                            }
                        })
                    }
                });
            });
        })
    </script>
}