@model IEnumerable<Styler.Models.Product>
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="row carousel-holder">
            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item">
                            <img class="slide-image" src="~/Resources/Images/makeup-wallpaper-23232-23884-hd-wallpapers.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="~/Resources/Images/firewatch-wallpaper-6.png" alt="">
                        </div>
                        <div class="item active">
                            <img class="slide-image" src="~/Resources/Images/uSi377m.jpg" alt="">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_LeftSideMenu")
        </div>

        <div class="col-md-9">
            @Html.Partial("_Products", Model)
        </div>

    </div>
</div>