@model IEnumerable<Styler.Models.Product>
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    @*@Html.Partial("_SlideShow")*@
    <hr />
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_LeftSideMenu")
        </div>

        <div class="col-md-9">
            @Html.Partial("_Products", Model)
        </div>

    </div>
</div>