@model IEnumerable<Styler.Areas.Admin.Models.ProductsViewModel>
@{
    ViewBag.Title = "ProductList";
}
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<div class="row">
    @using (Html.BeginForm("ListEm", "Home", FormMethod.Post, new { id="searchForm"}))
    {
    <label>Search</label>
    <input name="KeyWord" type="text" />
    <input type="submit" value="Search"/>
    }
</div>
<div class="row" id="listProducts">
    @Html.Action("ListProducts")
</div>
@section scripts{
   <script type="text/javascript">
       $(function(){
           $('#searchForm').on('submit', function (e) {
               e.preventDefault();
               $.ajax({
                   url: this.action,
                   type: this.method,
                   data: $(this).serialize(),
                   success: function (data) {
                       $('#listProducts').html(data);
                   }
               })
           })

       })
    </script>   
}