@model IEnumerable<Styler.Areas.Admin.Models.ProductsViewModel>
    <h1>xo mshvidobaa</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    @foreach (var product in Model)
    {
        <tr>
            <td>
                @product.ProductName
            </td>
            <td>
                @product.Description
            </td>
            <td>
                @product.Price
            </td>
        </tr>
    }
</table>
