@model Styler.Areas.Admin.Models.NavBarViewModel

<div class="col-md-2 sidebar">
    <ul class="nav nav-pills nav-stacked">
        @foreach (var Item in Model.NavItems)
        {
        <li> <a href="@Item.Url">@Item.ItemName</a></li>
        }
    </ul>
</div>
