<div class="footer-bg">
    <div class="refresh-container">
        <div class="footer-top-links">
            <div>
                <h5>Customer Service</h5>
                <ul>
                    <li>
                        <a class="gae-click*Footer*Customer-Service*Safe-Shopping-Guarantee" href="/shop-with-confidence">Safe Shopping Guarantee</a>
                    </li>
                    <li>
                        <a class="gae-click*Footer*Customer-Service*Forgot-Password" href="/password.do">Forgot Password</a>
                    </li>
                    <li>
                        <a class="gae-click*Footer*Customer-Service*Shipping-Rates" href="/shipping-and-delivery-questions">Shipping Rates</a>
                    </li>
                    <li>
                        <a class="gae-click*Footer*Customer-Service*Return-Policy" href="/return-questions">Return Policy</a>
                    </li>
                    <li>
                        <a class="gae-click*Footer*Customer-Service*FAQs" href="/general-questions">FAQs</a>
                    </li>
                    <li>
                        <a class="gae-click*Footer*Customer-Service*Contact-Info" href="/contact-us">Contact Info</a>
                    </li>
                </ul>
            </div>
            <div>
                <h5>Shopping</h5>
                <ul>
                    <li>
                        <a class="gae-click*Footer*Shopping*Womens" href="/womens">Womens</a>
                    </li>
                    <li>
                        <a class="gae-click*Footer*Shopping*Mens" href="/mens">Mens</a>
                    </li>
                    <li>
                        <a class="gae-click*Footer*Shopping*Kids" href="/kids">Kids</a>
                    </li>
                    <li>
                        <a class="gae-click*Footer*Shopping*Brands" href="/brands">Brands</a>
                    </li>
                </ul>
            </div>
            <div>
                <h5>My Account</h5>
                <ul>
                    <li>
                        <a class="gae-click*Footer*My-Account*Login-Register" href="/login">Login/Register</a>
                    </li>
                    <li>
                        <a class="gae-click*Footer*My-Account*My-Account" href="/account">My Account</a>
                    </li>
                    <li>
                        <a class="gae-click*Footer*My-Account*Order-Status" href="/account">Order Status</a>
                    </li>
                    <li>
                        <a class="gae-click*Footer*My-Account*Order-History" href="/account">Order History</a>
                    </li>
                    <li>
                        <a class="gae-click*Footer*My-Account*Print-An-Invoice" href="/account">Print An Invoice</a>
                    </li>
                    <li>
                        <a class="gae-click*Footer*My-Account*Track-My-Order" href="/account">Track My Order</a>
                    </li>
                </ul>
            </div>
            <div>
                <h5>Information</h5>
                <ul>
                    <li>
                        <a class="gae-click*Footer*Information*About" href="/about-us">About</a>
                    </li>
                    <li>
                        <a class="gae-click*Footer*Information*Site-Map" href="/site-map">Site Map</a>
                    </li>
                    <li>
                        <a class="gae-click*Footer*Information*Coupons" href="/coupons">Coupons</a>
                    </li>
                </ul>
                <p>Find us on:</p>
                <div class="footer-social">
                    <a href="https://www.instagram.com/shop6pm/" class="icon-instagram gae-click*Global*Footer*Instagram"></a>
                    <a href="https://www.facebook.com/shop6pm/" class="icon-facebook gae-click*Global*Footer*Facebook"></a>
                    <a href="https://twitter.com/shop6pm" class="icon-twitter gae-click*Global*Footer*Twitter"></a>
                    <a href="https://www.pinterest.com/6pm" class="icon-pinterest gae-click*Global*Footer*Pinterest"></a>
                    <a href="https://www.youtube.com/channel/UCuZbMkoq82SUzBQMkBKrf0Q" class="icon-youtube gae-click*Global*Footer*Youtube"></a>
                </div>
            </div>
            <div>
                <h5>Resources</h5>
                <ul>
                    <li>
                        <a class="gae-click*Footer*Resources*Associates-Program" href="/associates-program">Associates Program</a>
                    </li>
                </ul>
                <a class="footer-feedback gae-click*Global*Footer*Feedback" href="https://secure-www.6pm.com/survey/take/6pm-voc?source=footer" target="_blank">
                    <p><strong>How Do You Like Our Website?</strong></p>
                    <p>We'd like to get your <u>feedback</u>.</p>
                </a>
            </div>
        </div>
        <div class="footer-legal-links">
            <a href="/terms-of-use" class="gae-click*Global*Footer*Terms-Of-Use">Terms Of Use</a>
            <a href="/privacy-policy" class="gae-click*Global*Footer*Privacy-Policy">Privacy Policy</a>
            <a href="/c/interest-based-ads-policy" class="gae-click*Global*Footer*Interest-Based-Ads">Interest-Based Ads</a>
            <a class="easter" href="http://welg.space" target="_blank">Welg</a>
        </div>
        <div class="footer-icon-cards"></div>
        <div class="footer-bot-copy">
            <p>© 2009-2017 Zappos.com, Inc. or its affiliates, 400 East Stewart Avenue. Las Vegas NV 89101</p>
            <p>6pm.com is operated by Zappos IP, Inc. Products on 6pm.com are sold by 6pm.com, LLC.</p>
            <p>e-Gift Cards on 6pm.com are sold by ACI Gift Cards, Inc.</p>
            <p>
                For premier service, selection, and shipping, visit <a href="http://www.zappos.com">Zappos.com</a> — your one-stop shop for the latest in <a href="http://www.zappos.com/shoes">Shoes</a>, <a href="http://www.zappos.com/sandals">Sandals</a>, <a href="http://www.zappos.com/dresses">Dresses</a>, <a href="http://www.zappos.com/jeans">Jeans</a> and more!
            </p>
            <p>
                For luxury and designer styles, visit <a href="http://luxury.zappos.com">Zappos Luxury</a>.
            </p>
        </div>
    </div>
</div>
